body {
	font-family: $font-stack;
	margin: 0;
	padding: 0;
	background-color: $bg-color;
}

.red {
	color: red;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	background-color: #007bff;
	color: #fff;
}

.hidden {
	display: none !important;
}
.flex-1 {
	flex: 1;
}

.editable-name {
	user-select: none;
	&:hover {
		cursor: pointer;
	}
	input {
		color: black;
		background-color: white;
		border: none;
		outline: none;
	}
}

.alert {
	padding: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;

	&.alert-danger {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
	}
}
