.monaco-editor .line-indicator {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #f00; // You can choose any color
}
.editor-page {
	max-height: 100vh;
	overflow: auto;
}
#root .app .editor {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;

	& > *:not(section) {
		padding: 10px;
	}

	h2 {
		margin: 0 25px;
		form {
			display: inline-block;
		}
	}

	.tab-buttons {
		display: inline-block;
		button {
			&:hover {
				background-color: #eaeaea;
			}
			&.active {
				font-weight: bold;
				background-color: #ddd;
			}
		}
	}
	.options {
		display: inline-block;

		label {
			padding: 2px 5px;
			&:hover {
				background-color: #eaeaea;
			}
		}
	}

	section {
		flex: 1;
	}

	textarea {
		font-family: 'Source Code Pro', monospace;
		font-size: 16px;
		line-height: 1.5;
		background-color: #282c34;
		color: #abb2bf;
		border: 1px solid #4b5263;
		border-radius: 4px;
		padding: 8px;
		width: 100%;
		height: 300px;
		resize: none;
	}

	.token-count {
		font-family: monospace;
		margin-left: 5px;
		cursor: default;
	}
}
