#root .app .left-sidebar div.prompt-parts-list-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
	margin-top: 5px;

	.prompt-parts-list-options {
		padding: 3px 10px;
	}

	ul.prompt-parts-list {
		padding: 0;
		margin: 0;
		list-style: none;
		flex: 1;
		overflow-y: auto;
		border-top: 1px solid #ccc;
		ul {
			list-style: none;
			padding-left: 10px;
		}
		.directory {
			cursor: pointer;
			&:hover {
				background-color: #ddd;
			}
		}
	}
}

#root
	.app
	.left-sidebar
	div.prompt-parts-list-container
	ul.prompt-parts-list
	div.prompt-part {
	display: flex;
	align-items: center;
	padding: 2px;
	font-size: 0.9em;
	font-family: monospace;

	&.included {
		background-color: #fff0b8;
	}
	&.selected {
		background-color: #ccc !important;
	}

	main {
		display: flex;
		justify-content: space-between;
	}
	main > div {
		display: flex;
		align-items: center;
		label {
			padding: 4px;
			margin-right: 5px;
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			input {
				margin: 0;
			}
		}
	}

	.indicator {
		padding: 0 5px;
	}
	.title-indicator {
		font-size: 0.9em;
		font-weight: bold;
		font-family: monospace;
		color: #222;
	}
	.prompt-part-name {
		flex: 1;
		margin: 0 5px;
	}
	.file-indicator {
		font-size: 0.8em;
		font-style: italic;
		font-family: monospace;
		color: #666;
	}

	.token-count {
		font-family: monospace;
		margin-left: 5px;
	}

	&:hover {
		cursor: pointer;
		background-color: #ddd;
	}
}
