#root .app .sidebar {
	flex: 1;
	max-width: calc(100% / 3);
	padding: 10px 0;
	border-right: 1px solid #ccc;
	background-color: #fff;
	overflow-y: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	.project-selector {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		select {
			flex: 1;
			margin-right: 5px;
		}
	}

	.select-all-parts {
		font-size: 0.85em;
	}

	ul.prompt-parts-list {
		padding: 0;
		margin: 0;
		list-style: none;

		li.prompt-part {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2px;
			font-size: 0.9em;
			font-family: monospace;

			&.included {
				background-color: #fff0b8;
			}
			&.selected {
				background-color: #ccc !important;
			}

			input[type='checkbox'] {
			}
			.indicator {
				// color: #222;
				padding: 0 5px;
			}
			.title-indicator {
				font-size: 0.9em;
				font-weight: bold;
				font-family: monospace;
				color: #222;
			}
			.prompt-part-name {
				flex: 1;
				margin: 0 5px;
			}
			.file-indicator {
				font-size: 0.8em;
				font-style: italic;
				font-family: monospace;
				color: #666;
			}

			.token-count {
				font-family: monospace;
				margin-left: 5px;
			}

			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}
		}
	}
}
