#root .app .left-sidebar {
	flex: 1;
	border-right: 1px solid #ccc;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;

	.project-selector {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		padding: 10px;
		border-bottom: 1px solid #ccc;

		select {
			flex: 1;
			margin-right: 5px;
		}
	}

	.prompt-options {
		padding: 0 10px;
	}

	div.prompt-parts-list-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: hidden;
		margin-top: 5px;

		.prompt-parts-list-options {
			padding: 3px 10px;
		}
	}

	div.prompt-parts-list-container > ul.prompt-parts-list {
		padding: 0;
		margin: 0;
		list-style: none;
		flex: 1;
		overflow-y: auto;

		li.prompt-part {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2px;
			font-size: 0.9em;
			font-family: monospace;

			&.included {
				background-color: #fff0b8;
			}
			&.selected {
				background-color: #ccc !important;
			}

			input[type='checkbox'] {
			}
			.indicator {
				padding: 0 5px;
			}
			.title-indicator {
				font-size: 0.9em;
				font-weight: bold;
				font-family: monospace;
				color: #222;
			}
			.prompt-part-name {
				flex: 1;
				margin: 0 5px;
			}
			.file-indicator {
				font-size: 0.8em;
				font-style: italic;
				font-family: monospace;
				color: #666;
			}

			.token-count {
				font-family: monospace;
				margin-left: 5px;
			}

			&:hover {
				cursor: pointer;
				background-color: #ddd;
			}
		}
	}
}

#root .app .right-sidebar {
	flex: 2;
	background-color: #fff;
	height: 100%;
	min-height: 0;
}
