// Define your color palette, font stacks, sizes and other shared values
$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-stack-mono: 'Source Code Pro', monospace;
$font-color: white;
$bg-color: #f5f5f5;
$bg-color-dark: #1f1f1f;
$border-color: #ccc;
$hover-color: #e0e0e0;
$hover-color-dark: #ddd;
